<style type="text/css">
.title
{
	margin: 4px auto;
	width: 60%;
	height: auto;
	text-align: left;
	border: 1px solid #ccc;
	border-radius:3px;
	background-color: #eee;
	padding: 6px 4px;
	word-wrap: break-word;
	word-break: normal;
}

.title a
{
	color: #333;
}

.title a:hover
{
	color: #ccc;
}

.reply
{
	margin: 4px auto;
	width: 50%;
	height: auto;
	padding: 4px auto;
	text-align: left;
	border: 1px solid #ccc;
	border-radius:3px;
}
</style>